<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">Articles</h1>
        <p class="header-body">
            Cakes, tarts, chocolates make our life sweet
        </p>
    </div>
</div>
<div class="contentMain-content-area menus">

    <div id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb pull-left hidden-xs hidden-sm">
                <li><a href="/#">HOME</a></li>
                <li><a href="#/articles">ARTICLES</a></li>
            </ol>

            <div class="myCuisine-search pull-right">
                <form method="get" action="/#/articles">

                    <input type="text" id="search-input" class="" name="searchInput"
                           placeholder="Search this website...">

                    <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                </form>
            </div>
        </div>
    </div>

    <!-- content-area -->

    <div class="content-area-container container menu">


        <div class="row category-menu">
            <div class="col-12 col-sm-8 col-md-7">
                <div class="p-0">
                    <h5 class="part-title pb-2 main-title">ARTICLES</h5>
                    <ul class="list-unstyled">
                        {{#each this}}
                            <li class="row pb-2 mb-2">
                                <div class="col-6 col-sm-5 col-md-4 pr-0">
                                    <img class="img-fluid img-thumbnail rounded-0 d-block" src="{{image}}" alt="Generic placeholder image">
                                </div>
                                <div class="col-6 col-sm-7 col-md-8 pr-2 pt-1">
                                    <a href="#/articles/{{id}}/">
                                        <h5 class="mb-1 second-title">{{name}}</h5>
                                    </a>
                                    <p>{{body}}</p>
                                    <div class="text-right">
                                        <a href="#/articles/{{id}}/" class="btn browse-content-btn">Read more</a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <!--</div>-->
            <div class="list-recommend">

            </div>

        </div><!-- end content-area -->
    </div>
</div>