<div class="container" id="wrapper-background">
    <div class="page-title">
    <h1 class="header-title">{{this.[0].name}}</h1>
    <p class="header-body">
        Cakes, tarts, chocolates make our life sweet
    </p>
</div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container bts-correction">
                <ol class="breadcrumb pull-left hidden-sm hidden-xs">
                    <li><a href="/#">HOME</a></li>
                    <li><a href="/#/articles">ARTICLES</a></li>
                    <li class="active"> {{this.[0].name}}</li>
                </ol>

                <div class="myCuisine-search pull-right">
                    <form method="get" id="searchform" action="">

                        <input type="text" id="search-input" class="" name="searchInput"
                               placeholder="Search this website...">

                        <button type="submit" id="search-button">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- content-area -->

        <div class="content-area-container container">
            <div class="content-items">
                <div id="blog-page-content" class="row">
                    {{#each this}}
                    <div class="col-xs-12 col-sm-9 main-article">
                        <section class="post">
                            <div class="img-thumbnail pull-left ">
                                <img src="{{image}}" class="img-thumbnail" alt="img">
                            </div>
                            <div class="post-body">
                                {{body}}
                            </div>
                            <div class="article-date">
                                {{author}} {{date}}
                            </div>

                        </section>
                        <section class="post-comments">
                            <h2 class="title" style="font-family: 'LeagueGothic', serif; color: #cac6a1">2 COMMENTS</h2>
                            <div class="pull-left hidden-md hidden-sm hidden-xs">
                                <img src="../images/users/sansa.jpg" class="img-thumbnail" alt="img">
                            </div>
                            <div class="row comment">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="panel panel-default comment-body">
                                        <div class="pull-left hidden-lg">
                                            <img src="../images/users/sansa.jpg" class="img-thumbnail" alt="img">
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="comment-title">Sansa says:</h4>

                                            <div>
                                                Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor.
                                            </div>
                                            <input type="button" class="btn browse-content-btn pull-right" value="Reply" />
                                        </div>

                                    </div>

                                    <div class="re-comment col-xs-12 col-offset-3 col-sm-12 col-offset-3">
                                        <div class="pull-left hidden-md hidden-xs hidden-sm">
                                        <img src="../images/users/sansa.jpg" class="img-thumbnail" alt="img">
                                    </div>
                                        <div class="row comment">

                                            <div class="col-xs-12 col-sm-10 pull-right">
                                                <div class="panel panel-default comment-body">
                                                    <div class="pull-left hidden-lg">
                                                        <img src="../images/users/sansa.jpg" class="img-thumbnail" alt="img">
                                                    </div>
                                                    <div class="panel-body">
                                                        <h4 class="comment-title">Sansa says:</h4>

                                                        <div>
                                                            Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor.
                                                        </div>
                                                        <button class="btn browse-content-btn pull-right">Reply</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="comment-add">
                            <div id="comment-wrap">

                                <div id="comment-section" class="nocomments">
                                    <!-- If comments are open, but there are no comments. -->

                                </div>
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="main-title">Leave a comment</h3>

                                    <form action="" method="post" id="commentform" class="">
                                        <div class="form-group">
                                            <label for="author">Name*</label>
                                            <input id="author" class="form-control" name="author" type="text" size="30" aria-required="true" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email*</label>
                                            <input id="email" class="form-control" name="email" type="text" size="30" aria-describedby="email-notes" aria-required="true" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment</label>
                                            <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                                        </div>
                                        <div class="">
                                            <button name="submit" type="submit" id="submit" class="btn browse-content-btn article-btn">Submit Comment</button>
                                        </div>
                                    </form>
                                </div><!-- #respond -->

                            </div>
                        </section>
                    </div>

                    <aside class="col-sm-3 hidden-sm">
                        <div id="myCuisin-aside" class="collapse navbar-collapse">
                            <div class="recent-data">
                                <h3 class="second-title recent">Recent Posts</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-data">
                                <h3 class="second-title recent">Recent Comments</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-data">
                                <h3 class="second-title recent">Meta</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
{{/each}}
                </div>
            </div><!-- end .content-items -->
        </div>
    </div><!-- end content-area -->
</div>