<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">OUR MENU</h1>
        <p class="header-body">
            Cakes, tarts, chocolates make our life sweet
        </p>
    </div>
</div>
<div class="contentMain-content-area menus">

    <div id="breadcrumbs">
        <div class="container bts-correction">
            <ol class="breadcrumb pull-left hidden-xs hidden-sm">
                <li><a href="/#">HOME</a></li>
                <li class="active">MENU</li>
            </ol>

            <div class="myCuisine-search pull-right">
                <form method="get" id="searchform" action="">

                    <input type="text" id="search-input" class="" name="searchInput"
                           placeholder="Search this website...">

                    <button type="submit" id="search-button">Search</button>
                </form>
            </div>
        </div>
    </div>

    <!-- content-area -->

    <div class="content-area-container container menu">


        <div class="content-items">
            <!--<div id="menu-page-content" class="row">-->
            <div class="col-12 col-sm-12 cakes">
                <div class="cakes-title">
                    <h3 class="main-title" >CAKES</h3>
                </div>

                {{#each this}}
                    {{#if (eq category "cakes")}}
                        <div id="menu-page-content" class="menu-item row">


                            <div class="thumb col-xs-12 col-sm-4">

                                <img src="{{image}}" class="img-thumbnail" alt="{{title}}">
                                <span class="menu-item-price"><span>${{price}}</span></span>

                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>{{name}}</h3>
                                <p>{{description}}</p>
                            </div>

                        </div>

                        <!-- end .content-items -->
                    {{/if}}

                {{/each}}
            </div>
            <!--</div>-->


            <div class="col-12 col-sm-12 pancakes">
                <h3 class="main-title" id="items">PANCAKES</h3>
                {{#each this}}
                    {{#if (eq category "pancakes")}}
                        <div id="menu-page-content" class="menu-item row">

                            <div class="thumb col-xs-12 col-sm-4">

                                <img src="{{image}}" class="img-thumbnail" alt="{{title}}">
                                <span class="menu-item-price"><span>${{price}}</span></span>

                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                        </div>

                        <!-- end .content-items -->
                    {{/if}}

                {{/each}}
            </div>


            <div class="col-12 col-sm-12 tarts">
                <h3 class="main-title">TARTS</h3>
                {{#each this}}
                    {{#if (eq category "tarts")}}
                        <div id="menu-page-content" class="menu-item row">

                            <!--<div class="col-xs-12 col-sm-6 col-md-4">-->

                            <!--<div class="menu-item row">-->
                            <div class="thumb col-xs-12 col-sm-4">

                                <img src="{{image}}" class="img-thumbnail" alt="{{title}}">
                                <span class="menu-item-price"><span>${{price}}</span></span>

                            </div>
                            <div class="menu-item-body col-sm-8">
                                <h3>{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                            <!--</div>-->
                            <!--</div>-->
                        </div>

                        <!-- end .content-items -->
                    {{/if}}

                {{/each}}
            </div>
        </div>
    </div>
</div><!-- end content-area -->
