<div class="container" id="wrapper-background">
    <div ng-cloak>
        <h1 class="header-title">OUR MENU</h1>
        <p class="header-body">
            Cakes, tarts, chocholates make our life sweet
        </p>
    </div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li><a href="/#">HOME</a></li>
                    <li class="active">REVIEWS</li>
                </ol>

                <div class="myCuisine-search pull-right">
                    <form method="get" id="searchform" action="">

                        <input type="text" id="search-input" class="" name="searchInput" placeholder="Search this website...">

                        <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>



        <!--<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">-->
            <!--&lt;!&ndash; Indicators &ndash;&gt;-->
            <!--<ol class="carousel-indicators">-->
                <!--{{#each this}}-->
                <!--<li data-target="#carousel" data-slide-to="{{@index}}" class="active"></li>-->
                <!--{{/each}}-->

            <!--</ol>-->

            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
            <!--<div class="carousel-inner" role="listbox">-->
                <!--{{#each this}}-->
                <!--<div class="item active">-->
                    <!--<img src="{{image}}" alt="cake">-->
                    <!--<div class="carousel-caption slider-title">-->
                        <!--<p>{{title}}</p>-->
                        <!--<div class="slider-description">-->
                            <!--{{review}}-->
                            <!--<div class="slider-button">-->
                                <!--<a href="/post/3YwdNX1AYQ" class="btn browse-content-btn home-menu-btn">Read more</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--{{/each}}-->
            <!--</div>-->
        <!--</div>-->


                <!--<div id="carousel" class="carousel slide" data-ride="carousel">-->
    <!--{{#each this}}-->
    <!--<div class="testimonial panel panel-default">-->
    <!--<div class="carousel-inner">-->

                <!--<div class="carousel-item active">-->
                    <!--<img class="d-block w-100 img-thumbnail" src="{{image}}" alt="First slide">-->
                    <!--<h3>{{name}}</a></h3>-->
                    <!--{{review}}-->
                <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--{{/each}}-->

        </div>
        <div class="content-area-container container">
            <div class="content-items"  style="display: inline">
                <div id="testimonials" class="col-xs-12 col-sm-4" style="display: inline">
                    <h3 class="title">Customer Testimonials</h3>
                    {{#each this}}
                    <div class="testimonial panel panel-default" style="display: inline">
                        <h2 class="review-title">{{title}}</h2>
                        <div class="panel-body">
                            <div class="thumb pull-left">
                                <img src="{{image}}" class="img-thumbnail" alt="{{name}}">
                            </div>
                            <h3>{{name}}</a></h3>
                            <p>{{review}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div><!-- end .content-items -->
        </div>
    </div><!-- end content-area -->
</div>