<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">REVIEWS</h1>
        <p class="header-body">
            Cakes, tarts, chocolates make our life sweet
        </p>
    </div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li><a href="/#">HOME</a></li>
                    <li class="active">REVIEWS</li>
                </ol>

                <div class="myCuisine-search pull-right">
                    <form method="get" id="searchform" action="">

                        <input type="text" id="search-input" class="" name="searchInput" placeholder="Search this website...">

                        <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>


        </div>
    <div class="content-area-container container review">

        <!--<div id="menu-page-content" class="row">-->
        <div class="col-xs-12 col-sm-4 review rev-wrapper">
            <h3 class="main-title">CUSTOMER REVIEW</h3>
            {{#each this}}
                    <div id="menu-page-content" class="review-item row">

                        <h2 class="review-title">{{title}}</h2>
                        <div class="thumb col-xs-12 col-sm-4">

                            <img src="{{image}}" class="img-thumbnail" alt="{{title}}">


                        </div>
                        <div class="menu-item-body col-sm-8">
                            <h3>{{name}}</h3>
                            <p>{{review}}</p>
                        </div>
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                    <!-- end .content-items -->

            {{/each}}
        </div>
    
        <!--<div class="content-area-container container">-->
            <!--<div class="content-items">-->
                <!--<div id="testimonials" class="col-xs-12 col-sm-4" style="display: inline">-->
                    <!--<h3 class="title">Customer Testimonials</h3>-->
                    <!--{{#each this}}-->
                        <!--<h2 class="review-title">{{title}}</h2>-->
                        <!--<div class="panel-body">-->
                            <!--<div class="thumb pull-left">-->
                                <!--<img src="{{image}}" class="img-thumbnail" alt="{{name}}">-->
                            <!--</div>-->
                            <!--<h3>{{name}}</a></h3>-->
                            <!--<p>{{review}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--{{/each}}-->
                <!--</div>-->

            <!--</div>&lt;!&ndash; end .content-items &ndash;&gt;-->
        <!--</div>-->
    </div><!-- end content-area -->
</div>
</div>